<!DOCTYPE html>
<html>
<head>
  <title>EdmmoRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice" style="display:none"><%= notice %></p>
<p class="alert" style="display:none"><%= alert %></p>

<%= yield %>

<div id="account-links">
  <% if !user_signed_in? %>
    <a href="/users/sign_in">Sign in</a>
    <a href="/users/sign_up">Sign up</a>
  <% else %>
    <a href="/users/sign_out">Sign out</a>
  <% end %>
</div>

</body>
</html>
